.win{
    display: flex;
    flex-direction: column;
}

.desc::after{
    content: "↑";
}

.asc::after{
    content: "↓";
}

.table_winners{
    text-align: center;
}

.sorted{
    cursor: pointer;
}