.winners{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.win{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: limegreen;
}

.desc::after{
    content: "↑";
}

.asc::after{
    content: "↓";
}

.table_winners{
    text-align: center;
}

.sorted{
    cursor: pointer;
}